h1 Page is missing!
p Did you follow a link from somewhere? If do, please notify me using the methods found 
	a(href="#{ baseurl }") here.
p Meanwhile, why don't you take a look at 
	a(href="#{ baseurl }/blog") my blogs?