doctype
html
	head
		title= title
		meta(name="description" content="#{ excerpt ? excerpt : description }")
		link(rel="stylesheet" href="/style.css")
	body
		header
			h1 You don't like problems; I solve them.
			h2 Bobby Priambodo
				sub part-time web developer, full-time problem solver

		nav
			a(href="/") Home | 
			a(href="/blog") Blog 

		!= yield
		
		footer
			p You have reached the bottom of the page at bobbypriambodo.com! 
				a(href="#") Go up?
			p Page hosted at GitHub. Powered by Harp.