header
	h1 You don't like problems; I solve them.
	h2 Bobby Priambodo
		sub freelance web developer

section(id="about")
	h1 About
	p Hi, my name is Bobby, currently studying Computer Science at Universitas Indonesia. I like maths and problem-solving. The most joyful thing on earth is when you have figured out how to do something&mdash;by yourself.

// hide me
section(id="skills")
	h1 Stuffs I know
	p
		div: strong Programming languages: 
		| Java, Python, and a little bit of C and C++
		div: strong Web Development: 
		| HTML, CSS, Javascript, PHP
		div: strong PHP Frameworks: 
		| CodeIgniter, Laravel
		div: strong CMS: 
		| Wordpress
		div: strong CSS Frameworks: 
		| Twitter Bootstrap, Zurb Foundation
		div: strong Productivity Tools: 
		| Git, SVN, Sass, Grunt
		div: strong Design: 
		| Adobe Photoshop, GIMP

section(id="my-works")
	h1 Contributions

section(id="contact-me")
	h1 Contact me
	p I go by the name bobbypriambodo on the net. You can go to the following pages to meet me in person.

	a(href="http://twitter.com/bobbypriambodo") Twitter 
	a(href="http://facebook.com/bobbypriambodo") Facebook 
	a(href="http://github.com/bobbypriambodo") Github 
	a(href="http://linkedin.com/bobbypriambodo") LinkedIn 
