doctype
html
	head
		title= title
		if excerpt
			meta(name="description" content="#{ excerpt }")
		else
			meta(name="description" content="#{ description }")
		link(rel="stylesheet" href="style.css")
	body
		header
			h1 Bobby Priambodo

		!= yield
		
		footer
			p You have reached the bottom of the page at bobbypriambodo.com! 
				a(href="#") Go up?
			p Page hosted at GitHub. Powered by Harp.